.wrapper {
  margin: 0 auto;
  padding: 50px;
  background-color: beige;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper input {
  border: 1px solid #ff8c00;
  text-align: center;
  padding: 10px;
}

.task {
  display: flex;
  align-items: center;
}
p .task-input {
  background-color: beige;
  border: none;
  font-size: 18px;
}
.close {
  font-size: 14px;
}
.is-done {
  text-decoration: line-through;
}

.task .ant-checkbox-wrapper {
  margin-bottom: 5%;
}
.buttons Button {
  margin-left: 15px;
}
.items-left {
  display: block;
}

.buttons {
  display: flex;
  align-items: center;
}
.completed {
  display: block;
  margin-left: 10px;
}