.wrapper {
  margin: 0 auto;
  padding: 50px;
  background-color: beige;
  border: 1px solid #ff8c00;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper input {
  border: 1px solid #ff8c00;
  text-align: center;
  padding: 10px;
}

.task {
  display: flex;
  padding: 5px;
}